:root {
  --body-color: #fff;
  --focus-color: #eac645;
  --accent-color: #4f2ee8;
  --text-color: #111;
  --light-text-color: #b4afaf;
  --white-color: #fff;
  --nav-background: #fff;
  --main-background: white;
  --main-font: #111;
  --logo-font-color: #111;
  --burger-fill: #111;
  --header-height: 64px;
  --scroll-color: #e0e0e0;
  --modal-links-font-black: #111;
  --skelet-color: linear-gradient(90deg, #ececec 0px, #f4f4f4 40px, #ececec 80px);
}

body.dark {
  --body-color: #202024;
  --text-color: #fff;
  --nav-background: #111;
  --main-background: #202024;
  --main-font: white;
  --logo-font-color: #fff;
  --burger-fill: #4f2ee8;
  --skelet-color: linear-gradient(90deg, #6b6b6b 0px, #767676d6 40px, #747474d6 80px);
}

:root {
  --body-color: #fff;
  --focus-color: #eac645;
  --accent-color: #4f2ee8;
  --text-color: #111;
  --light-text-color: #b4afaf;
  --white-color: #fff;
  --nav-background: #fff;
  --main-background: white;
  --main-font: #111;
  --logo-font-color: #111;
  --burger-fill: #111;
  --header-height: 64px;
  --scroll-color: #e0e0e0;
  --modal-links-font-black: #111;
  --skelet-color: linear-gradient(90deg, #ececec 0px, #f4f4f4 40px, #ececec 80px);
}

body.dark {
  --body-color: #202024;
  --text-color: #fff;
  --nav-background: #111;
  --main-background: #202024;
  --main-font: white;
  --logo-font-color: #fff;
  --burger-fill: #4f2ee8;
  --skelet-color: linear-gradient(90deg, #6b6b6b 0px, #767676d6 40px, #747474d6 80px);
}

.visually-hidden {
  width: 1px;
  height: 1px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  border: 0;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

body {
  font-family: DM Sans, sans-serif;
}

h1, h2, h3, h4, p {
  margin-top: 0;
  margin-bottom: 0;
}

​li, ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  color: currentColor;
  outline: #0000;
  text-decoration: none;
}

img {
  display: block;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.main-section {
  padding-top: 40px;
  padding-bottom: 80px;
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    gap: 40px;
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .container-category {
    gap: 40px;
    margin-bottom: 40px;
    display: flex;
  }
}

@media only screen and (min-width: 1440px) {
  .container-category {
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  .container-category {
    margin-bottom: 40px;
  }
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #0000;
  border-radius: 10px;
  overflow: auto;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-color);
  border-radius: 12px;
}

.categories-box {
  width: 335px;
  height: 228px;
  margin-bottom: 40px;
  overflow-y: scroll;
}

@media only screen and (min-width: 768px) {
  .categories-box {
    width: 337px;
    height: 472px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .categories-box {
    width: 356px;
    margin-bottom: 40px;
  }
}

.list-categories {
  flex-direction: column;
  gap: 24px;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .list-categories {
    gap: 32px;
  }
}

.categories-item {
  letter-spacing: -.02em;
  cursor: pointer;
  color: var(--text-color);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  display: block;
}

.categories-item.active {
  color: var(--accent-color);
  letter-spacing: -.02em;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.modal-open {
  overflow: hidden;
}

.backdrop {
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #2f2f2f1a;
  transition: opacity .25s cubic-bezier(.4, 0, .2, 1), visibility .25s cubic-bezier(.4, 0, .2, 1);
  position: fixed;
  top: 0;
  left: 0;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(.5);
}

.modal.is-hidden {
  transform: translate(-50%, -50%)scale(0);
}

@media screen and (min-width: 375px) {
  .modal-container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .modal-container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.modal {
  width: 339px;
  border: 2px solid var(--text-color);
  background-color: var(--body-color);
  border-radius: 18px;
  padding: 40px 24px;
  transition: transform .25s cubic-bezier(.4, 0, .2, 1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)scale(1);
  box-shadow: 0 0 34px #0000006b;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 579px;
    padding: 40px;
  }
}

.modal-close {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #0000;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: fill .25s cubic-bezier(.4, 0, .2, 1);
  display: flex;
  position: absolute;
  top: 12px;
  right: 12px;
}

@media screen and (min-width: 768px) {
  .modal-close {
    top: 24px;
    right: 24px;
  }
}

.modal-close-icon {
  fill: var(--text-color);
}

.modal-close-icon:hover, .modal-close-icon:focus {
  fill: var(--accent-color);
}

.modal-shopping-btn {
  letter-spacing: -.01em;
  text-transform: uppercase;
  color: var(--text-color);
  box-sizing: border-box;
  border: 2px solid var(--accent-color);
  text-align: center;
  cursor: pointer;
  background-color: #0000;
  border-radius: 40px;
  outline: #0000;
  margin: 40px auto auto;
  padding: 14px 24px;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.29;
  transition: all .5s;
  display: block;
}

.modal-shopping-btn:hover, .modal-shopping-btn:focus {
  letter-spacing: 1px;
  background-color: var(--accent-color);
  color: var(--body-color);
  box-shadow: 0 0 .5em 0em var(--accent-color);
}

@media screen and (min-width: 768px) {
  .modal-shopping-btn {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 1.33;
  }
}

.congratulations-text {
  text-align: center;
  width: 242px;
  text-align: center;
  letter-spacing: -.04em;
  color: var(--light-text-color);
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  font-family: DM Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .congratulations-text {
    width: 324px;
    font-size: 12px;
    line-height: 1.17;
  }

  .modal-book-info {
    height: 281px;
    justify-content: space-between;
    display: flex;
  }
}

.modal-img {
  height: 408px;
  border-radius: 8px;
  overflow: hidden;
}

.modal-book-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.logo-img {
  filter: grayscale();
}

.logo-img:hover {
  filter: grayscale(0%);
  filter: drop-shadow(0 3px 3px #00000026);
}

@media screen and (min-width: 768px) {
  .modal-img {
    width: 192px;
    height: 281px;
  }
}

.logo {
  fill: var(--text-color);
}

.logo:hover {
  fill: var(--accent-color);
  filter: drop-shadow(0 0 3px #7f6fc6cc);
}

.modal-text {
  width: 279px;
  max-height: 219px;
  margin-top: 14px;
  overflow: auto;
}

@media screen and (min-width: 768px) {
  .modal-text {
    margin-top: 0;
  }
}

.modal-book-title {
  letter-spacing: -.04em;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.17;
}

@media screen and (min-width: 768px) {
  .modal-book-title {
    font-size: 24px;
  }
}

.modal-book-author {
  letter-spacing: -.04em;
  color: var(--light-text-color);
  margin-top: 4px;
  font-size: 12px;
  font-style: italic;
  line-height: 1.29;
}

@media screen and (min-width: 768px) {
  .modal-book-author {
    margin-top: 8px;
    font-size: 14px;
  }
}

.modal-book-desc {
  letter-spacing: -.04em;
  margin-top: 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}

@media screen and (min-width: 768px) {
  .modal-book-desc {
    margin-top: 20px;
  }
}

.modal-shop-list {
  align-items: center;
  gap: 20px;
  margin-top: 14px;
  display: flex;
}

@media screen and (min-width: 768px) {
  .modal-shop-list {
    margin-top: 20px;
  }
}

.support-container {
  width: 335px;
  height: 360px;
  background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
  border-radius: 16px;
  box-shadow: 0 10px 10px #f5f5f71a;
}

@media (min-width: 768px) {
  .support-container {
    height: 472px;
  }
}

@media (min-width: 1440px) {
  .support-container {
    width: 356px;
    height: 490px;
  }
}

.support-title {
  letter-spacing: -.04em;
  color: #fff;
  padding: 24px 0 40px 40px;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  display: flex;
}

.emblem-ukraine {
  margin-left: 12px;
}

.support-list {
  height: 188px;
  scroll-behavior: smooth;
  padding-left: 40px;
  overflow: scroll;
}

.support-list::-webkit-scrollbar {
  width: 0;
  background: #fff0;
}

@media only screen and (min-width: 768px) {
  .support-list {
    height: 292px;
  }
}

.support-site {
  color: var(--white-color);
  width: auto;
  height: 32px;
  align-items: center;
  gap: 14px;
  margin-bottom: 20px;
  display: flex;
}

.support-svg {
  height: 32px;
}

.support-slider-btn {
  cursor: pointer;
  background: none;
  border: none;
  margin: 0 auto;
  padding: 16px 0 20px;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .support-slider-btn {
    padding: 32px 0 14px;
  }
}

@media only screen and (min-width: 1440px) {
  .support-slider-btn {
    padding: 40px 0 24px;
  }
}

.support-slider {
  margin: 0 auto;
}

.support-slider-btn-up {
  cursor: pointer;
  background: none;
  border: none;
  margin: 0 auto;
  padding: 16px 0 20px;
  display: none;
}

@media (min-width: 768px) {
  .support-slider-btn-up {
    padding: 32px 0 14px;
  }
}

@media (min-width: 1440px) {
  .support-slider-btn-up {
    padding: 40px 0 24px;
  }
}

.tui-page-btn {
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  margin-right: .5rem;
  display: inline-block;
  position: relative;
  width: 44px !important;
  height: 44px !important;
  border: 1px solid #000 !important;
  padding-top: 12px !important;
  font-size: 18px !important;
}

.tui-is-selected {
  border: 1px solid #000 !important;
}

.tui-page-btn:hover:not(.is-disabled) {
  color: #fff;
  background-color: #eac645;
  transition: background-color .5s cubic-bezier(.075, .82, .165, 1);
}

.tui-ico-ellip:after {
  content: "...";
  width: 10px;
  height: 10px;
  letter-spacing: 2px;
  color: #000;
  font-size: 20px;
  display: flex;
  position: absolute;
  top: 15%;
  left: 32%;
}

.remove_book {
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 50%;
  padding: 8px;
  display: flex;
}

.trash-svg {
  pointer-events: none;
}

.tui-page-btn.tui-next, .tui-page-btn.tui-last {
  background-color: #eac645;
  border: 1px solid #000 !important;
}

.tui-page-btn.tui-first {
  color: #fff;
  background-color: #000;
  border: 1px solid #000 !important;
}

.tui-page-btn.tui-prev {
  background-color: #000;
  border: 1px solid #000 !important;
}

.tui-pagination .tui-is-selected, .tui-pagination strong {
  color: #fff;
  background-color: #000;
}

strong {
  position: absolute;
}

.tui-last:after {
  content: ">>";
  width: 10px;
  height: 10px;
  letter-spacing: -5px;
  color: #000;
  font-size: 20px;
  display: block;
  position: absolute;
  top: 23%;
  left: 39%;
}

.tui-next {
  display: block;
  position: relative;
}

.tui-next:after {
  content: ">";
  width: 10px;
  height: 10px;
  color: #000;
  font-size: 20px;
  display: block;
  position: absolute;
  top: 23%;
  left: 39%;
}

.tui-first {
  display: block;
  position: relative;
}

.tui-first:after {
  content: "<<";
  width: 10px;
  height: 10px;
  letter-spacing: -5px;
  color: #fff;
  font-size: 20px;
  display: block;
  position: absolute;
  top: 23%;
  left: 32%;
}

.tui-prev {
  display: block;
  position: relative;
}

.tui-prev:after {
  content: "<";
  width: 10px;
  height: 10px;
  color: #fff;
  font-size: 20px;
  display: block;
  position: absolute;
  top: 23%;
  left: 39%;
}

.tui-pagination .tui-ico-first, .tui-pagination .tui-ico-prev, .tui-pagination .tui-ico-next, .tui-pagination .tui-ico-last, .tui-pagination .tui-ico-ellip {
  background: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.blue {
  color: var(--accent-color);
}

.some-book {
  text-align: center;
  letter-spacing: -.02em;
  color: var(--light-text-color);
  margin-bottom: 20px;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
}

.stack-of-books {
  justify-content: space-around;
  display: flex;
}

.shopping-title {
  letter-spacing: -.04em;
  color: var(--text-color);
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: DM Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
}

.shopping-book-title h3 {
  letter-spacing: -.04em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 4px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

.shopping-title-mix {
  letter-spacing: -.04em;
  color: var(--text-color);
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: DM Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
}

.shopping-book-title p {
  letter-spacing: .03em;
  color: var(--light-text-color);
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
}

.shopping-book-author p {
  letter-spacing: -.04em;
  color: var(--light-text-color);
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
}

.shopping-list-book {
  width: 335px;
  height: 170px;
  border: 2px solid #4f2ee866;
  border-radius: 16px;
  margin-bottom: 20px;
  padding: 14px;
}

.shopping-list-book:last-child {
  margin-bottom: 0;
}

.shopping-book-img {
  float: left;
  border-radius: 16px;
  margin-right: 14px;
}

.shopping-book-info {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.book__add-cart-icon {
  float: right;
  cursor: pointer;
  margin-bottom: 16px;
}

.shopping-book-author {
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 16px;
  display: flex;
}

.shopping-book-retailers {
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
  display: flex;
}

.shopping-book-description {
  max-width: 193px;
  letter-spacing: -.04em;
  color: var(--text-color);
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  flex-direction: column-reverse;
  align-items: flex-start;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  display: -webkit-box;
  overflow: hidden;
}

.amazon_logo-icon, .icon-book-opened, .icon-books-cl {
  fill: var(--light-text-color);
  cursor: pointer;
}

.amazon_logo-icon:focus, .amazon_logo-icon:hover, .icon-book-opened:focus, .icon-book-opened:hover, .icon-books-cl:focus, .icon-books-cl:hover {
  filter: drop-shadow(0 3px 3px #00000026);
}

.shopping-book-retailers {
  display: flex;
}

.some-book-centr {
  margin-top: 120px;
}

.support-shoping-list-hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  .shopping-list-book {
    width: 704px;
    height: 213px;
    padding: 24px;
  }

  .shopping-book-img {
    width: 116px;
    height: 165px;
    margin-right: 24px;
  }

  .shopping-book-description {
    max-width: 508px;
    height: 53px;
  }

  .shopping-book-author {
    margin-top: 48px;
  }

  .shopping-book-title {
    margin-bottom: 14px;
  }

  .shopping-book-retailers {
    column-gap: 16px;
  }

  .some-book-centr {
    margin-top: 140px;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .shopping-list-book {
    width: 996px;
  }

  .shopping-book-description {
    max-width: 808px;
  }

  .support-shoping-list-hidden {
    margin-top: 40px;
    display: block;
  }

  .some-book-centr {
    margin-top: 140px;
    margin-left: 355px;
  }
}

@media only screen and (max-width: 767px) {
  .shopping-book-img {
    height: 142px;
    margin-bottom: 14px;
  }
}

@media only screen and (min-width: 1440px) {
  .tui-pagination {
    position: absolute;
    bottom: -60px;
    left: 49%;
  }
}

.wrapper {
  position: relative;
}

.main-header {
  z-index: 10;
  background: var(--body-color);
  height: 64px;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 5px #00000080;
}

button {
  cursor: pointer;
}

.container-border {
  border-radius: 0 0 8px 8px;
  position: relative;
}

.site-nav {
  height: 64px;
  width: 100%;
  background: inherit;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.burger svg use {
  stroke: var(--burger-fill);
  fill: none;
}

.burger {
  background-color: #0000;
  border: 0;
  padding: 0;
}

.icon-item {
  fill: var(--logo-font-color);
}

.current {
  background: #eac645;
  border-radius: 36px;
}

.logo-svg {
  fill: var(--logo-font-color);
}

.link-shoping.current .icon-item {
  fill: var(--modal-links-font-black);
}

.burger {
  display: none;
}

@media (max-width: 767px) {
  .site-nav {
    display: flex;
  }

  .nav-list, .sign-up {
    display: none;
  }

  .burger {
    display: block;
  }
}

@media (min-width: 768px) {
  .logo-top {
    margin-right: 40px;
  }

  .nav-list {
    width: 214px;
    height: 34px;
    list-style-type: none;
    display: flex;
  }

  .nav-item {
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    display: flex;
  }

  .home-item, .shoping-item {
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  .link-shoping, .link-home {
    padding: 8px 16px;
  }

  .icon-item {
    text-align: center;
    flex-wrap: nowrap;
    margin-left: 5px;
    display: flex;
  }

  .link-shoping {
    white-space: nowrap;
    display: flex;
  }

  .sign-up {
    min-width: 184px;
    height: 45px;
    cursor: pointer;
    background: var(--accent-color);
    color: var(--white-color);
    border: #0000;
    border-radius: 36px;
    justify-content: space-between;
    padding: 14px;
    display: flex;
  }

  .logged-btn-style {
    min-width: 184px;
    height: 45px;
    background: var(--accent-color);
    color: var(--white-color);
    border: #0000;
    border-radius: 36px;
    justify-content: space-between;
    display: flex;
  }
}

@media only screen and (min-width: 768px) and (min-width: 768px) {
  .logged-btn-style {
    display: flex;
  }
}

@media (min-width: 768px) {
  .padding {
    cursor: pointer;
    padding: 14px;
  }

  .mainmenubtn {
    color: #fff;
    cursor: pointer;
    border: none;
  }

  .dropdown {
    display: inline-block;
    position: relative;
  }

  .dropdown-child {
    display: none;
  }

  .dropdown:hover .dropdown-child {
    display: flex;
  }

  .burger, .mobile-menu-close-btn {
    cursor: pointer;
    display: none;
  }

  .mobile-menu-close-btn {
    display: none;
  }
}

@media (min-width: 1440px) {
  .logo-top {
    margin-right: 76px;
  }
}

.switch {
  width: 40px;
  height: 20px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.switch input {
  opacity: 0;
}

.slider {
  cursor: pointer;
  background: linear-gradient(#4f2ee8 0%, #686868 100%);
  transition: all .4s;
  position: absolute;
  inset: 0;
  box-shadow: inset 1px 1px 2px #0000001a;
}

.slider:before {
  content: "";
  height: 18px;
  width: 18px;
  background: linear-gradient(#fff 0%, #f7f7f7 100%);
  transition: all .4s;
  position: absolute;
  bottom: 1px;
  left: 20px;
  box-shadow: 1px 1px 2px #0000001a, 0 2px 2px #0000001a, 1px 2px 4px #0000001a;
}

input:checked + .slider {
  background: linear-gradient(#4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px #0000001a;
}

input:checked + .slider:before {
  transform: translateX(-18px);
}

.slider, .round {
  border-radius: 34px;
}

.round:before {
  border-radius: 50%;
}

input:checked + .round:before {
  background-color: #1e202a;
}

body {
  background: var(--main-background);
  color: var(--main-font);
}

.toggle-switch {
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: 14px;
  display: flex;
}

.toggle-switch p {
  padding: 1em;
}

@media (min-width: 768px) {
  .toggle-switch {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 24px;
    display: flex;
  }
}

.mobile-menu-backdrop.is-open {
  z-index: 5;
  top: var(--header-height);
  width: 100%;
  height: 100%;
  background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%) bottom / contain no-repeat;
  transition: opacity .25s linear, visibility .25s linear;
  position: fixed;
  left: 0;
}

.mobile-menu-backdrop > .mobile-menu {
  transform: translate(-50%)scale(0);
}

.mobile-menu-backdrop.is-open > .mobile-menu {
  width: 375px;
  height: calc(100% - var(--header-height));
  background-image: url("group-books.b200831c.png");
  background-position: bottom;
  background-repeat: no-repeat;
  flex-direction: column;
  padding: 20px;
  display: flex;
  position: relative;
  top: 0;
  left: 50%;
  overflow: visible;
  transform: translate(-50%)scale(1);
}

.mobile-menu-wrapper {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  display: flex;
}

.mobile-menu-list {
  text-align: left;
  height: 70px;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.mobile-menu-link {
  letter-spacing: .02em;
  text-transform: capitalize;
  color: var(--white-color);
  margin-left: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
}

.mobile-icon-item {
  fill: var(--white-color);
}

.current {
  color: var(--modal-links-font-black);
}

.current .mobile-icon-item {
  fill: var(--modal-links-font-black);
}

.mobile-link-home {
  margin-bottom: 16px;
}

.mobile-link-shoping, .mobile-link-home {
  padding: 8px 16px;
}

.mobile-link-shoping {
  display: flex;
}

.mobile-menu-close-btn {
  background-color: #0000;
  border: none;
  justify-content: center;
  align-items: center;
  transition: background-color;
  display: block;
  top: 18px;
  right: 20px;
}

@media (min-width: 768px) {
  .mobile-menu-close-btn {
    display: none;
  }
}

.mobile-menu-close-icon {
  stroke: var(--burger-fill);
  transition: fill;
}

.mobile-sign-up {
  width: 184px;
  height: 45px;
  background: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  border: 1.5px solid #111;
  border-radius: 36px;
  justify-content: space-between;
  margin-bottom: 126px;
  padding: 14px;
  display: flex;
}

.mobile-menu-bg-img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
}

.hidden {
  display: none;
}

.header-log-out {
  width: 184px;
  height: 48px;
  background-color: #fff;
  border: 1.5px solid #111;
  border-radius: 18px;
}

.book-item {
  max-width: 335px;
  cursor: pointer;
  margin: 0;
}

.scale-images {
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 14px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 6px #2e2f4214;
}

.book-images {
  width: 335px;
  height: 485px;
  border-radius: 8px;
  transition: transform 6s linear;
  display: block;
}

.book-images:hover {
  transform: scale(1.1);
}

.quick-view {
  width: 100%;
  height: 70px;
  transform-origin: bottom;
  background-color: var(--focus-color);
  letter-spacing: -.04em;
  text-transform: uppercase;
  color: var(--text-color);
  text-align: center;
  border-radius: 8px;
  padding-top: 26px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  transition: transform .5s cubic-bezier(.4, 0, .2, 1);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: perspective(1000px)rotateX(-90deg);
}

.book-item:hover .quick-view, .book-item:focus .quick-view {
  transform: perspective(2000px)rotateX(0);
}

.book-full-name {
  color: var(--text-color);
  letter-spacing: -.04em;
  text-transform: uppercase;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin: 0 0 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
  display: -webkit-box;
  overflow: hidden;
}

.book-author {
  letter-spacing: -.04em;
  color: var(--light-text-color);
  margin: 0;
  font-size: 12px;
  font-style: italic;
  line-height: 1.17;
}

@media only screen and (min-width: 768px) {
  .book-item {
    max-width: 218px;
  }

  .book-images {
    width: 218px;
    height: 316px;
  }
}

@media only screen and (min-width: 1440px) {
  .book-item {
    max-width: 180px;
  }

  .book-images {
    width: 180px;
    height: 256px;
  }
}

.title-category-markup {
  letter-spacing: -.04em;
  color: var(--text-color);
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.19;
}

@media only screen and (min-width: 768px) {
  .title-category-markup {
    font-size: 48px;
    line-height: 1.08;
  }
}

.violet {
  color: var(--accent-color);
}

.category-markup-list {
  width: 335px;
  flex-direction: column;
  gap: 40px 24px;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .category-markup-list {
    width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
  .category-markup-list {
    width: 996px;
  }
}

@media only screen and (min-width: 768px) {
  .current-cattegory {
    flex-flow: wrap;
    display: flex;
  }
}

.category-markup-item {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.category-markup-subtitle {
  letter-spacing: .03em;
  text-transform: uppercase;
  color: var(--light-text-color);
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 1.29;
}

@media only screen and (min-width: 768px) {
  .category-markup-subtitle {
    letter-spacing: .03em;
    font-size: 14px;
    line-height: 1.71;
  }

  .books-list-markup {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 24px;
    display: flex;
  }
}

.category-markup-button {
  cursor: pointer;
  width: 124px;
  height: 46px;
  border: 2px solid var(--accent-color);
  letter-spacing: -.01em;
  text-transform: uppercase;
  background-color: var(--body-color);
  color: var(--text-color);
  border-radius: 40px;
  align-self: flex-end;
  margin-top: 32px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  transition: all .25s cubic-bezier(.4, 0, .2, 1);
}

.category-markup-button:hover, .category-markup-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  outline: #0000;
}

.category-markup-button:active {
  box-shadow: 0 4px 18px #00000026;
}

.skeleton {
  width: 996px;
  flex-wrap: wrap;
  gap: 105px 24px;
  padding-top: 42px;
  display: flex;
}

@media only screen and (max-width: 1439px) {
  .skeleton {
    width: 704px;
    height: 366px;
    gap: -40px 24px;
    padding-top: 42px;
  }
}

@media only screen and (max-width: 767px) {
  .skeleton {
    width: 335px;
    height: 535px;
    padding-top: 36px;
  }
}

.movie--isloading {
  width: 180px;
  border-radius: 4px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 1439px) {
  .movie--isloading {
    width: 218px;
  }
}

@media only screen and (max-width: 767px) {
  .movie--isloading {
    width: 335px;
  }
}

.movie--isloading .loading-image {
  height: 256px;
  background-image: var(--skelet-color);
  background-size: 250px;
  border-radius: 8px;
  animation: 2s ease-out infinite shine-loading-image;
}

@media only screen and (max-width: 1439px) {
  .movie--isloading .loading-image {
    height: 316px;
  }
}

@media only screen and (max-width: 767px) {
  .movie--isloading .loading-image {
    height: 485px;
  }
}

.movie--isloading .loading-content {
  justify-content: center;
  align-items: center;
  padding-top: 14px;
  display: flex;
}

.movie--isloading .loading-content .loading-text-container {
  flex-basis: 100%;
}

.movie--isloading .loading-content .loading-main-text {
  height: 15px;
  width: 100%;
  background: #ececec;
  background-image: var(--skelet-color);
  background-size: 250px;
  border-radius: 5px;
  margin-bottom: 7px;
  animation: 2s ease-out infinite shine-loading-container-items;
}

.movie--isloading .loading-content .loading-sub-text {
  height: 10px;
  width: 50%;
  background: #ececec;
  background-image: var(--skelet-color);
  background-size: 250px;
  border-radius: 5px;
  animation: 2s ease-out infinite shine-loading-container-items;
}

.movie--isloading .loading-content .loading-btn {
  width: 60px;
  height: 25px;
  background: #ececec linear-gradient(90deg, #ececec 0, #ddd 40px, #ececec 80px) 0 0 / 250px;
  border-radius: 3px;
  animation: 2s ease-out infinite shine-loading-container-items;
}

@keyframes shine-loading-image {
  0% {
    background-position: -32px;
  }

  40%, 100% {
    background-position: 208px;
  }
}

@keyframes shine-loading-container-items {
  0% {
    background-position: -100px;
  }

  40%, 100% {
    background-position: 140px;
  }
}

.registration-backdrop {
  z-index: 11;
  width: 100%;
  height: 100%;
  background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
  transition: opacity .25s linear, visibility .25s linear;
  position: fixed;
  top: 0;
  left: 0;
}

.registration-backdrop.registration-is-hiden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.registration-backdrop.registration-is-hiden > .registration-modal {
  transform: translate(-50%, -50%)scale(0);
}

.registration-modal {
  width: 335px;
  height: 384px;
  background-color: var(--body-color);
  border: 2px solid var(--text-color);
  border-radius: 18px;
  padding: 40px 20px;
  transition: transform .25s linear;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)scale(1);
}

.input-list {
  height: 198px;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
  display: flex;
}

.form-input-filds {
  width: 295px;
  height: 50px;
  border: 2px solid var(--text-color);
  background-color: var(--body-color);
  color: var(--text-color);
  border-radius: 40px;
  outline: #0000;
  padding: 16px 50px 16px 24px;
  font-weight: 700;
}

.input-error {
  border: 2px solid var(--focus-color);
}

.registration-close-btn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #0000;
  border: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
  position: absolute;
  top: 14px;
  right: 14px;
  transform: scale(.925);
}

.registration-close-btn:hover .registration-close-btn-icon, .registration-close-btn:focus .registration-close-btn-icon {
  stroke: var(--accent-color);
}

.registration-close-btn-icon {
  stroke: var(--text-color);
  transition: stroke .25s;
}

.form-input-filds::placeholder {
  color: var(--text-color);
  text-transform: uppercase;
}

.input-fild-container {
  position: relative;
}

.input-icon {
  stroke: var(--text-color);
  fill: #0000;
  position: absolute;
}

.email-input-icon {
  top: 19px;
  right: 25.5px;
  transform: scale(1.15);
}

.show-password-text {
  background-color: var(--body-color);
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 0;
  position: absolute;
  top: 16px;
  right: 24px;
}

.use-hiden {
  display: none;
}

.eye-use {
  fill: var(--text-color);
  stroke: var(--text-color);
}

.show-password-text:hover .password-input-icon {
  stroke: var(--accent-color);
}

.show-password-text:hover .eye-use {
  stroke: var(--accent-color);
  fill: var(--accent-color);
}

.password-input-icon {
  transition: stroke .25s;
  position: relative;
  top: .5px;
  right: 3.5px;
  transform: scale(1.15);
}

.errom-massage {
  color: var(--focus-color);
  font-weight: 700;
  position: absolute;
  top: 50px;
  left: 24px;
}

.sign-button {
  width: 294px;
  height: 50px;
  background-color: var(--text-color);
  color: var(--body-color);
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  border-radius: 40px;
  margin-bottom: 20px;
  font-weight: 700;
  transition: box-shadow .25s, transform .25s;
}

.sign-button:hover {
  box-shadow: 0 .5em .5em -.4em var(--accent-color);
  transform: translateY(-.25em);
}

.switch-sign {
  justify-content: center;
  gap: 20px;
  display: flex;
}

.switch-sign-button {
  font-size: 14px;
  font-weight: 700;
  line-height: 1, 3em;
  text-transform: uppercase;
  color: var(--text-color);
  cursor: pointer;
  background-color: #0000;
  border: 0;
  padding: 0;
  transition: color .25s;
}

.switch-sign-active {
  color: var(--accent-color);
  text-decoration: underline;
}

.switch-sign-button:hover, .switch-sign-button:focus {
  color: var(--accent-color);
}

@media only screen and (min-width: 1392px) {
  .registration-modal {
    width: 579px;
    height: 516px;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .input-list {
    height: 248px;
    gap: 28px;
    margin-bottom: 40px;
  }

  .form-input-filds {
    width: 499px;
    height: 64px;
    padding: 20px 60px 20px 40px;
    font-size: 18px;
  }

  .registration-close-btn {
    width: 28px;
    height: 28px;
    top: 24px;
    right: 24px;
    transform: scale(1.3);
  }

  .email-input-icon {
    top: 22.67px;
    right: 34.33px;
    transform: scale(1.75);
  }

  .show-password-text {
    width: 28px;
    height: 28px;
    top: 18px;
    right: 32px;
  }

  .password-input-icon {
    top: 1px;
    right: 0;
    transform: scale(1.75);
  }

  .sign-button {
    width: 499px;
    height: 64px;
  }

  .switch-sign-button {
    font-size: 18px;
  }

  .errom-massage {
    top: 70px;
    left: 40px;
  }
}

footer {
  opacity: 0;
  visibility: hidden;
}

.main-footer {
  opacity: 1;
  width: 100%;
  visibility: visible;
  box-shadow: 0 2px 20px #00000080;
}

.footer-text {
  color: var(--light-text-color);
  width: 200px;
  margin: auto;
  padding-top: 15px;
}

@media only screen and (min-width: 768px) {
  .footer-text {
    width: 500px;
  }
}

.key-word-footer-modal {
  cursor: pointer;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  transition: all .35s linear;
}

.key-word-footer-modal:hover {
  color: var(--accent-color);
}

.footer-logo-text {
  width: 150px;
  font-size: 11px;
}

.footer-title-logo {
  font-size: 20px;
}

.modal-about-us {
  z-index: 11;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: #0006;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

.logo-team {
  justify-content: center;
  gap: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.footer-svg-logo {
  width: 40px;
  height: 40px;
  padding-top: 5px;
  transition: all .5s;
}

.modal-content-footer {
  width: 300px;
  background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
  border-radius: 15px;
  margin: 10% auto;
  box-shadow: 0 7px 58px #000;
}

@media only screen and (min-width: 768px) {
  .modal-content-footer {
    width: 520px;
  }
}

@media only screen and (min-width: 1000px) {
  .modal-content-footer {
    width: 775px;
  }
}

.card-footer {
  width: 200px;
  height: 300px;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  margin: 20px;
  overflow: hidden;
  box-shadow: inset 0 0 12px 8px #0009;
}

.content-footer {
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #0006;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  display: flex;
}

.content-footer .dev-name, .dev-position {
  color: #fffc;
}

@media only screen and (min-width: 1440px) {
  .card-footer:hover .content-footer {
    opacity: 1;
  }
}

@media only screen and (max-width: 1199px) {
  .card-footer {
    position: relative;
  }

  .content-footer {
    opacity: 1;
    position: absolute;
  }
}

.close-modal-footer {
  color: #aaa;
  float: right;
  margin: 0;
  padding: 10px 10px 10px 0;
  font-size: 28px;
  font-weight: bold;
}

.close-modal-footer:hover, .close-modal-footer:focus {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.developers-title {
  text-align: center;
  color: #fff;
  padding-top: 15px;
}

.developers-cards {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .developers-cards {
    gap: 30px;
  }
}

@media only screen and (min-width: 1440px) {
  .developers-cards {
    gap: 0;
  }
}

.dev-name {
  text-align: center;
}

.dev-position {
  padding-top: 35px;
  padding-bottom: 70px;
}

.ftr-social {
  margin-top: 20px;
}

.ftr-social-item {
  width: 30px;
  height: 30px;
}

.ftr-social-list {
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  display: flex;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  font-size: 18px;
  display: flex;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.skeleton-book-list {
  border: 2px solid var(--light-text-color);
  width: 335px;
  border-radius: 16px;
  margin-bottom: 20px;
  padding: 14px;
  animation: 1.5s infinite shimmer;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .skeleton-book-list {
    width: 704px;
    padding: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .skeleton-book-list {
    width: 996px;
  }
}

.skeleton-image {
  width: 100px;
  height: 142px;
  background-image: var(--skelet-color);
  margin-right: 14px;
}

@media only screen and (min-width: 768px) {
  .skeleton-image {
    width: 116px;
    height: 165px;
    margin-right: 24px;
  }
}

.right-part {
  height: 142px;
}

@media only screen and (min-width: 768px) {
  .right-part {
    height: 165px;
  }
}

@media only screen and (min-width: 1440px) {
  .right-part {
    width: 867px;
  }
}

.header-skelet {
  display: flex;
}

.left-part-skelet {
  margin-right: 50px;
}

@media only screen and (min-width: 768px) {
  .left-part-skelet {
    margin-right: 370px;
  }
}

@media only screen and (min-width: 1440px) {
  .left-part-skelet {
    margin-right: 660px;
  }
}

.title-skelet-form {
  width: 114px;
  height: 18px;
  background-image: var(--skelet-color);
  margin-bottom: 10px;
}

.type-book-skelet {
  width: 101px;
  height: 14px;
  background-image: var(--skelet-color);
  margin-bottom: 15px;
}

.bucket-skeleton {
  width: 28px;
  height: 28px;
  background-image: var(--skelet-color);
  border-radius: 50%;
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .bucket-skeleton {
    width: 30px;
    height: 30px;
  }
}

.text-book-skelet {
  width: 190px;
  height: 54px;
  background-image: var(--skelet-color);
  margin-bottom: 14px;
  margin-right: 0;
}

@media only screen and (min-width: 768px) {
  .text-book-skelet {
    width: 515px;
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .text-book-skelet {
    width: 805px;
  }
}

.bottom-part-list {
  align-items: flex-end;
  gap: 35px;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .bottom-part-list {
    gap: 335px;
  }
}

@media only screen and (min-width: 1440px) {
  .bottom-part-list {
    gap: 630px;
  }
}

.author-skelet {
  width: 70px;
  height: 14px;
  background-image: var(--skelet-color);
}

.links-shop-skelet {
  width: 85px;
  height: 16px;
  background-image: var(--skelet-color);
}

@media only screen and (min-width: 768px) {
  .links-shop-skelet {
    width: 110px;
    height: 30px;
  }
}

.skeleton-book-list .skeleton-image {
  animation: 2s ease-out infinite shine-loading-image;
}

.skeleton-book-list .right-part .text-book-skelet, .skeleton-book-list .right-part .bottom-part-list .author-skelet, .skeleton-book-list .right-part .bottom-part-list .links-shop-skelet, .skeleton-book-list .right-part .left-part-skelet .title-skelet-form, .skeleton-book-list .right-part .left-part-skelet .type-book-skelet {
  animation: 2s ease-out infinite shine-loading-container-items;
}

.registration-backdrop {
  z-index: 11;
  width: 100%;
  height: 100%;
  background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
  transition: opacity .25s linear, visibility .25s linear;
  position: fixed;
  top: 0;
  left: 0;
}

.registration-backdrop.registration-is-hiden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.registration-backdrop.registration-is-hiden > .registration-modal {
  transform: translate(-50%, -50%)scale(0);
}

.registration-modal {
  width: 335px;
  height: 384px;
  background-color: var(--body-color);
  border: 2px solid var(--text-color);
  border-radius: 18px;
  padding: 40px 20px;
  transition: transform .25s linear;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)scale(1);
}

.input-list {
  height: 198px;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
  display: flex;
}

.form-input-filds {
  width: 295px;
  height: 50px;
  border: 2px solid var(--text-color);
  background-color: var(--body-color);
  color: var(--text-color);
  border-radius: 40px;
  outline: #0000;
  padding: 16px 50px 16px 24px;
  font-weight: 700;
}

.input-error {
  border: 2px solid var(--focus-color);
}

.registration-close-btn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #0000;
  border: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
  position: absolute;
  top: 14px;
  right: 14px;
  transform: scale(.925);
}

.registration-close-btn:hover .registration-close-btn-icon, .registration-close-btn:focus .registration-close-btn-icon {
  stroke: var(--accent-color);
}

.registration-close-btn-icon {
  stroke: var(--text-color);
  transition: stroke .25s;
}

.form-input-filds::placeholder {
  color: var(--text-color);
  text-transform: uppercase;
}

.input-fild-container {
  position: relative;
}

.input-icon {
  stroke: var(--text-color);
  fill: #0000;
  position: absolute;
}

.email-input-icon {
  top: 19px;
  right: 25.5px;
  transform: scale(1.15);
}

.show-password-text {
  background-color: var(--body-color);
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 0;
  position: absolute;
  top: 16px;
  right: 24px;
}

.use-hiden {
  display: none;
}

.eye-use {
  fill: var(--text-color);
  stroke: var(--text-color);
}

.show-password-text:hover .password-input-icon {
  stroke: var(--accent-color);
}

.show-password-text:hover .eye-use {
  stroke: var(--accent-color);
  fill: var(--accent-color);
}

.password-input-icon {
  transition: stroke .25s;
  position: relative;
  top: .5px;
  right: 3.5px;
  transform: scale(1.15);
}

.errom-massage {
  color: var(--focus-color);
  font-weight: 700;
  position: absolute;
  top: 50px;
  left: 24px;
}

.sign-button {
  width: 294px;
  height: 50px;
  background-color: var(--text-color);
  color: var(--body-color);
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  border-radius: 40px;
  margin-bottom: 20px;
  font-weight: 700;
  transition: box-shadow .25s, transform .25s;
}

.sign-button:hover {
  box-shadow: 0 .5em .5em -.4em var(--accent-color);
  transform: translateY(-.25em);
}

.switch-sign {
  justify-content: center;
  gap: 20px;
  display: flex;
}

.switch-sign-button {
  font-size: 14px;
  font-weight: 700;
  line-height: 1, 3em;
  text-transform: uppercase;
  color: var(--text-color);
  cursor: pointer;
  background-color: #0000;
  border: 0;
  padding: 0;
  transition: color .25s;
}

.switch-sign-active {
  color: var(--accent-color);
  text-decoration: underline;
}

.switch-sign-button:hover, .switch-sign-button:focus {
  color: var(--accent-color);
}

@media only screen and (min-width: 1392px) {
  .registration-modal {
    width: 579px;
    height: 516px;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .input-list {
    height: 248px;
    gap: 28px;
    margin-bottom: 40px;
  }

  .form-input-filds {
    width: 499px;
    height: 64px;
    padding: 20px 60px 20px 40px;
    font-size: 18px;
  }

  .registration-close-btn {
    width: 28px;
    height: 28px;
    top: 24px;
    right: 24px;
    transform: scale(1.3);
  }

  .email-input-icon {
    top: 22.67px;
    right: 34.33px;
    transform: scale(1.75);
  }

  .show-password-text {
    width: 28px;
    height: 28px;
    top: 18px;
    right: 32px;
  }

  .password-input-icon {
    top: 1px;
    right: 0;
    transform: scale(1.75);
  }

  .sign-button {
    width: 499px;
    height: 64px;
  }

  .switch-sign-button {
    font-size: 18px;
  }

  .errom-massage {
    top: 70px;
    left: 40px;
  }
}

.scroll-up {
  z-index: 4;
  width: 64px;
  height: 64px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  background-color: #4f2ee8;
  border-radius: 50%;
  transition: all .2s;
  position: fixed;
  bottom: 45px;
  right: 45px;
  transform: translateY(25px);
  box-shadow: inset 0 0 0 4px #ccc9dccc;
}

.scroll-up:hover {
  background-color: #eac645;
}

.scroll-up__arrow {
  fill: #fff;
  position: absolute;
  top: 20px;
  left: 20px;
}

.scroll-up--active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.scroll-up__svg-path {
  box-sizing: border-box;
  fill: none;
  stroke: #fff;
  stroke-width: 4px;
  transition: all .2s;
}

/*# sourceMappingURL=index.0183019f.css.map */
