:root {
  --body-color: #ffffff;
  --focus-color: #eac645;
  --accent-color: #4f2ee8;
  --text-color: #111111;
  --light-text-color: #b4afaf;
  --white-color: #fff;
  --nav-background: #ffffff;
  --main-background: white;
  --main-font: #111111;
  --logo-font-color: #111111;
  --burger-fill: #111111;
  --header-height: 64px;
  --scroll-color: #e0e0e0;
  --modal-links-font-black: #111111;
  --skelet-color: linear-gradient(
    90deg,
    #ececec 0px,
    #f4f4f4 40px,
    #ececec 80px
  );
}

body.dark {
  --body-color: #202024;
  --text-color: #fff;
  --nav-background: #111111;
  --main-background: #202024;
  --main-font: white;
  --logo-font-color: #ffffff;
  --burger-fill: #4f2ee8;
}
