.container {
    max-width: 335px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
@media only screen and (min-width: 768px) {
   .container {
    max-width: 704px;
    padding-left:32px;
    padding-right: 32px;
  }
}
@media only screen and (min-width: 1200px) {
   .container {
    max-width: 1392px;
    padding-left: 24px;
    padding-right: 24px;
  }
}