.title-category-markup {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;
  color: var(--text-color);
}

@media only screen and (min-width: 768px) {
  .title-category-markup {
    font-size: 48px;
    line-height: 1.08;
  }
}

.violet {
  color: var(--accent-color);
}

.category-markup-list {
  display: flex;
  flex-direction: column;
  gap: 40px 24px;
  width: 335px;
}

@media only screen and (min-width: 768px) {
  .category-markup-list {
    width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
  .category-markup-list {
    width: 996px;
  }
}

@media only screen and (min-width: 768px) {
  .current-cattegory {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // width: 996px;
  }
}

.category-markup-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-markup-subtitle {
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-text-color);
}

@media only screen and (min-width: 768px) {
  .category-markup-subtitle {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

@media only screen and (min-width: 768px) {
  .books-list-markup {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 24px;
    justify-content: space-between;
  }
}

.category-markup-button {
  margin-top: 32px;
  align-self: flex-end;
  cursor: pointer;
  width: 124px;
  height: 46px;
  border: 2px solid var(--accent-color);
  border-radius: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.category-markup-button:hover,
.category-markup-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  outline: transparent;
}

.category-markup-button:active {
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
}

// ====================BUTTON ANIMATION==================
// .glow-on-hover {
//   // width: 220px;
//   // height: 50px;
//   border: none;
//   outline: none;
//   color: #fff;
//   background: var(--accent-color);
//   cursor: pointer;
//   position: relative;
//   z-index: 0;
//   border-radius: 10px;
// }

// .glow-on-hover:before {
//   content: '';
//   background: linear-gradient(
//     45deg,
//     #ff0000,
//     #ff7300,
//     #fffb00,
//     #48ff00,
//     #00ffd5,
//     #002bff,
//     #7a00ff,
//     #ff00c8,
//     #ff0000
//   );
//   position: absolute;
//   top: -2px;
//   left: -2px;
//   background-size: 400%;
//   z-index: -1;
//   filter: blur(5px);
//   width: calc(100% + 4px);
//   height: calc(100% + 4px);
//   animation: glowing 20s linear infinite;
//   opacity: 0;
//   transition: opacity 0.3s ease-in-out;
//   border-radius: 10px;
// }

// .glow-on-hover:active {
//   color: #000;
// }

// .glow-on-hover:active:after {
//   background: transparent;
// }

// .glow-on-hover:hover:before {
//   opacity: 1;
// }

// .glow-on-hover:after {
//   z-index: -1;
//   content: '';
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background: var(--accent-color);
//   left: 0;
//   top: 0;
//   border-radius: 10px;
// }

// @keyframes glowing {
//   0% {
//     background-position: 0 0;
//   }
//   50% {
//     background-position: 400% 0;
//   }
//   100% {
//     background-position: 0 0;
//   }
// }
