// .category-markup {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   gap: 40px;
// }

// @media only screen and (min-width: 768px) {
//   .category-markup {
//     gap: 100px;
//   }
// }

// @media only screen and (min-width: 1200px) {
//   .category-markup {
//     gap: 40px;
//     flex-direction: row;
//   }
// }

// .box-list {
//   width: 327px;
//   height: 228px;
//   background-color: tomato;
// }

// @media only screen and (min-width: 768px) {
//   .box-list {
//     width: 704px;
//     height: 472px;
//   }
// }

// @media only screen and (min-width: 1200px) {
//   .category-box {
//     width: 1152px;
//     height: 472px;
//   }
// }

// .container-category-markup {
//   width: 327px;
//   background-color: var(--light-text-color);
//   display: flex;
//   flex-direction: column;
//   gap: 40px;
// }

// @media only screen and (min-width: 768px) {
//   .container-category-markup {
//     width: 704px;
//   }
// }

// @media only screen and (min-width: 1200px) {
//   .container-category-markup {
//     width: 1060px;
//   }
// }
// ==========================================
.title-category-markup {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;
  color: var(--text-color);
}

@media only screen and (min-width: 768px) {
  .title-category-markup {
    font-size: 48px;
    line-height: 1.08;
  }
}

.violet {
  color: var(--accent-color);
}

.category-markup-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-markup-subtitle {
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-text-color);
}

@media only screen and (min-width: 768px) {
  .category-markup-subtitle {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

@media only screen and (min-width: 768px) {
  .books-list-markup {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 24px;
  }
}

.category-markup-button {
  align-self: flex-end;
  width: 124px;
  height: 46px;
  border: 2px solid var(--accent-color);
  border-radius: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
