.container-category{
    margin-top: 40px;
    margin-bottom: 40px;
}
.categories-box{
    overflow-y: scroll;
    width: 335px;
    height: 228px;
}

.list-categories{
    display: flex;
    row-gap: 24px;
    flex-direction: column;
}


.categories-item{
    display: block;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;    
    letter-spacing: -0.02em;
    cursor: pointer;
    
    color: rgba(17, 17, 17, 0.6);
}

.categories-item.active {
    color: var(--accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
    .container-category {
        margin-bottom: 100px;
    }
    .categories-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    max-width: 337px;
    }
.categories-item{
        font-size: 18px;
        line-height: 24px;
}
.list-categories {
    row-gap: 32px;
}
}

@media only screen and (min-width: 1200px) {
    .container-category {
        margin-bottom: 86px;
        }
    .categories-box {
        align-items: flex-start;
        max-width: 356px;
    }
}
