@import url(/src/scss/utils/_variables.scss);

.main-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--body-color);
}

// ====================NAVIGATION===========================

.container-border {
  border: 1.5px solid #111111; //add
  // border-top: none; //??? if need
  border-radius: 0px 0px 8px 8px; //add
}

.site-nav {
  display: flex;
  align-items: center;
  height: 72px;
  width: 100%;
  // border: 1.5px solid #111111; //remove
  // margin-right: 24px; //remove
  // padding: 12px 24px; // remove
}

.burger svg use {
  stroke: #111111;
  fill: none;
}
.burger {
  border-color: transparent;
  background-color: transparent;
}
.current {
  background: #eac645;
  border-radius: 36px;
}

.logo-svg {
  fill: #000000;
}
/* Для екранів пристроїв mobile */
@media (max-width: 767px) {
  .site-nav {
    display: flex;
    justify-content: space-between;
  }

  .nav-list,
  .sign-up {
    display: none;
  }

  .burger {
    display: block;
  }
}

/* Для екранів пристроїв tablet */
@media (min-width: 768px) {
  .logo-top {
    margin-right: 40px;
  }
  .nav-list {
    display: flex;
    list-style-type: none;

    width: 214px;
    height: 34px;
  }

  .nav-item {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
  }

  .home-item,
  .shoping-item {
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  .link-shoping,
  .link-home {
    padding: 8px 16px;
  }

  .icon-item {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    margin-left: 5px;
  }

  .link-shoping {
    display: flex;
    white-space: nowrap;
  }

  .sign-up {
    display: flex;
    justify-content: space-between;
    min-width: 184px;
    padding: 14px;

    margin-left: auto;
    border-radius: 36px;
    border: 2px solid #111111;
    background-color: #4f2ee8;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .burger {
    display: none;
  }
}

/* Для екранів пристроїв desctop */
@media (min-width: 1200px) {
  .logo-top {
    margin-right: 76px;
  }
}
