.main-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--body-color);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.main-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--body-color);
}

// ====================NAVIGATION===========================
/* /THEME/ */

.container-border {
  border-radius: 0px 0px 8px 8px; //add
  position: relative; //add+
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 72px;
  width: 100%;
  background: inherit;
}

.burger svg use {
  stroke: var(--burger-fill);
  fill: none;
}
.burger {
  border-color: transparent;
  background-color: transparent;
  padding: 0;
  border: 0;
}
.current {
  background: #eac645;
  border-radius: 36px;
}

.logo-svg {
  fill: var(--logo-font-color);
}
.icon-item {
  fill: var(--logo-font-color);
}

.burger {
  display: none;
}
/* Для екранів пристроїв mobile */
@media (max-width: 767px) {
  .site-nav {
    display: flex;
  }

  .nav-list,
  .sign-up {
    display: none;
  }

  .burger {
    display: block;
  }
}

/* Для екранів пристроїв tablet */
@media (min-width: 768px) {
  .logo-top {
    margin-right: 40px;
  }
  .nav-list {
    display: flex;
    list-style-type: none;

    width: 214px;
    height: 34px;
  }

  .nav-item {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
  }

  .home-item,
  .shoping-item {
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  .link-shoping,
  .link-home {
    padding: 8px 16px;
  }

  .icon-item {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    margin-left: 5px;
  }

  .link-shoping {
    display: flex;
    white-space: nowrap;
  }

  .sign-up {
    display: flex;
    justify-content: space-between;
    min-width: 184px;
    height: 45px;
    padding: 14px;

    background: var(--accent-color);
    color: var(--white-color);
    border-radius: 36px;
    border: transparent;
  }

  .burger {
    display: none;
  }

  .mobile-menu-close-btn {
    display: none;
  }
 }
/* Для екранів пристроїв desctop */
@media (min-width: 1440px) {
  .logo-top {
    margin-right: 76px;
  }
}
//////////////////////////////////////////////////////////////////////////////////
//
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default html checkbox */
.switch input {
  opacity: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);

  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;

  left: 20px;
  bottom: 1px;

  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

input:checked + .slider:before {
  transform: translateX(-18px);
}
.slider,
.round {
  border-radius: 34px;
}

.round::before {
  border-radius: 50%;
}

input:checked + .round::before {
  background-color: hsl(230, 17%, 14%);
}

body {
  background: var(--main-background);
  color: var(--main-font);
}

.toggle-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 14px;
  margin-left: auto;
}
.toggle-switch p {
  padding: 1em;
}

@media (min-width: 768px) {
  .toggle-switch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    margin-left: auto;
  }
}

// ======================================MOBILE MENU=============================
//

.mobile-menu-open {
  background-color: transparent;
  line-height: 0;
  min-height: 812px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;

  position: fixed;
  width: 100%;
  height: calc(100% - var(--header-height));
  z-index: 5;
  top: var(--header-height);
  left: 0;
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity;
}

.mobile-menu-wrapper {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: auto;
  text-align: left;
  height: 70px;
}

.mobile-menu-link {
  margin-left: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--white-color);
}

.current {
  color: var(--main-font);
}
.mobile-link-home {
  margin-bottom: 16px;
}

.mobile-link-shoping,
.mobile-link-home {
  padding: 8px 16px;
}

.mobile-link-shoping {
  display: flex;
}

.mobile-menu-close-btn {
  display: block;

  justify-content: center;
  align-items: center;

  top: 18px;
  right: 20px;
  border: none;
  background-color: transparent;

  transition: background-color;
}

@media (min-width: 768px) {
  .mobile-menu-close-btn {
    display: none;
  }
}

.mobile-menu-close-icon {
  stroke: var(--main-font);
  transition: fill;
}

.mobile-sign-up {
  display: flex;
  justify-content: space-between;
  width: 184px;
  height: 45px;
  padding: 14px;
  margin-bottom: 126px;

  background: var(--accent-color);
  color: var(--white-color);
  border-radius: 36px;
  border: transparent;
}

.mobile-log-out {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  width: 118px;
  height: 48px;
  padding: 14px;
  margin-top: auto;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  background: #ffffff;
  border: 1.5px solid #111111;
  border-radius: 18px;
}

.mobile-menu-bg-img {
  position: fixed;
  width: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
}

.hidden {
  display: none;
}
