.tui-page-btn {
  position: relative;
  border-radius: 50%;
  display: inline-block;
  padding-top: 12px !important;
  margin-right: 0.5rem;
  background-color: #ffffff;
  color: #ffffff;
  font-size: 18px !important;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000 !important;
  width: 44px !important;
  height: 44px !important;
  
}
.tui-is-selected {
  border: 1px solid #000 !important;
}

.tui-page-btn:hover:not(.is-disabled) {
  background-color: #eac645;
  color: #fff;
  transition: background-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.tui-ico-ellip::after {
    position: absolute;
    display: flex;
    // content: '...';
    content: '...';
    width: 10px;
    height: 10px;
    top: 15%;
    left: 32%;
    font-size: 20px;
    letter-spacing: 2px;
    color: black;
}
.remove_book {
  padding: 8px;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: flex;
  cursor: pointer;
}
.trash-svg {
  pointer-events: none;
}

.tui-page-btn.tui-next {
  background-color: #eac645;
  border: 1px solid #000 !important;
}
.tui-page-btn.tui-last {
  background-color: #eac645;
  border: 1px solid #000 !important;
}
// .tui-pagination.tui-page-btn.tui-first,
// .tui-pagination.tui-page-btn.tui-prev {
//   background-color: #000;
//   color: white;
// }
.tui-page-btn.tui-first {
  background-color: #000;
  border: 1px solid #000 !important;
  color: #fff;
}
.tui-page-btn.tui-prev {
  background-color: #000;
  border: 1px solid #000 !important;
}
.tui-pagination .tui-is-selected,
.tui-pagination strong {
  background-color: #000;
  color: white;
}
strong {
  position: absolute;
}
.tui-last::after {
  position: absolute;
  display: block;
  content: '>>';
  width: 10px;
  height: 10px;
  top: 23%;
  left: 39%;
  font-size: 20px;
  letter-spacing: -5;
  color: black;
}

.tui-next {
  position: relative;
  display: block;
  
}

.tui-next::after {
  position: absolute;
  display: block;
  content: '>';
  width: 10px;
  height: 10px;
  top: 23%;
  left: 39%;
  font-size: 20px;
  color: black;
}

.tui-first {
  position: relative;
  display: block;
}

.tui-first::after {
  position: absolute;
  display: block;
  content: '<<';
  width: 10px;
  height: 10px;
  top: 23%;
  left: 32%;
  font-size: 20px;
  letter-spacing: -5;
  color: white;
}

.tui-prev {
  position: relative;
  display: block;
}

.tui-prev::after {
  position: absolute;
  display: block;
  content: '<';
  width: 10px;
  height: 10px;
  left: 39%;
  top: 23%;
  font-size: 20px;
  color: white;
}

.tui-pagination .tui-ico-first,
.tui-pagination .tui-ico-prev,
.tui-pagination .tui-ico-next,
.tui-pagination .tui-ico-last,
.tui-pagination .tui-ico-ellip {
  background: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.blue {
  color: var(--accent-color);
}

.some-book {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  /* or 133% */

  text-align: center;
  letter-spacing: -0.02em;

  color: var(--light-text-color);
  margin-bottom: 20px;
}

.stack-of-books {
  display: flex;
  justify-content: space-around;
}

.shopping-title {
  margin-bottom: 140px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  color: var(--text-color);
}
.shopping-book-title h3 {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 4px;
}

// .shopping-book-box {
//   margin-top: 8px;
// }

.shopping-title-mix {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  /* identical to box height, or 108% */
  letter-spacing: -0.04em;
  color: var(--text-color);
  margin-bottom: 40px;
  margin-top: 40px;
}

.shopping-book-title p {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
  display: flex;
}

.shopping-book-author p {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;

  letter-spacing: -0.04em;

  color: var(--light-text-color);
}

.shopping-list-book {
  padding: 14px 14px;
  width: 335px;
  height: 170px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  margin-bottom: 20px;
}

.shopping-list-book:last-child {
  margin-bottom: 0px;
}

.shopping-book-img {
  border-radius: 16px;
  float: left;
  margin-right: 14px;
}

.shopping-book-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.shopping-book-title {
  text-align: center;
}

.book__add-cart-icon {
  float: right;
  margin-bottom: 16px;
  cursor: pointer;
}

.shopping-book-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  align-items: flex-start;
}

.shopping-book-retailers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
}

.shopping-book-description {
  max-width: 193px;
  letter-spacing: -0.04em;
  color: var(--text-color);
  flex-direction: column-reverse;
  align-items: flex-start;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.amazon_logo-icon,
.icon-book-opened,
.icon-books-cl {
  fill: var(--light-text-color);
  cursor: pointer;
}

.amazon_logo-icon:focus,
.amazon_logo-icon:hover,
.icon-book-opened:focus,
.icon-book-opened:hover,
.icon-books-cl:focus,
.icon-books-cl:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}

.shopping-book-retailers {
  display: flex;
}

.some-book-centr {
  margin-top: 120px;
}

.support-shoping-list-hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  .shopping-list-book {
    width: 704px;
    height: 213px;
    padding: 24px 24px;
  }
  .shopping-book-img {
    width: 116px;
    height: 165px;
    margin-right: 24px;
  }
  .shopping-book-description {
    max-width: 508px;
    height: 53px;
  }
  .shopping-book-author {
    margin-top: 48px;
  }
  .shopping-book-title {
    margin-bottom: 14px;
  }
  .shopping-book-retailers {
    column-gap: 16px;
  }
  .some-book-centr {
    margin-left: 20px;
    margin-top: 140px;
  }
}
@media only screen and (min-width: 1440px) {
  .shopping-list-book {
    width: 996px;
  }
  .shopping-book-description {
    max-width: 808px;
  }
}
// =======================================

@media only screen and (min-width: 1440px) {
  .support-shoping-list-hidden {
    display: block;
    margin-top: 40px;
  }
  .some-book-centr {
    margin-left: 355px;
    margin-top: 140px;
  }
}
@media only screen and (max-width: 767px) {
  .shopping-book-img {
    margin-bottom: 14px;
    height: 142px;
  }
}
@media only screen and (min-width: 1440px) {
   .tui-pagination {
    position: absolute;
    left:49%;
    bottom:20px;
  }
}