.book-item {
  max-width: 335px;
  margin: 0 auto;
}

.book-images {
  max-width: 335px;
  height: 485px;
  display: block;
  margin-bottom: 14px;
  border-radius: 8px;
}

.book-full-name {
  color: var(--text-color);
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.book-author {
  font-style: italic;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: var(--light-text-color);
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .book-item {
    max-width: 218px;
  }
  .book-images {
    width: 218px;
    height: 318px;
  }
}

@media only screen and (min-width: 1200px) {
  .book-images {
    width: 180px;
    height: 256px;
  }
}
