<div class="container container-footer">
  <div id="modal-footer" class="modal-about-us">
    <div class="modal-content-footer">
      <span class="close-modal-footer">&times;</span>
      <h2 class="developers-title">
        Development team <br />"The Error-Masters"
      </h2>
      <div class="developers-cards"></div>
    </div>
  </div>
  <p class="footer-text">
    This site was created by the development team "The Error Masters", you can
    learn more about us by clicking on the button <em>"Our team"</em>
  </p>
  <button id="open-modal-footer-btn" class="about-us-btn">Our team</button>
</div>
