<header class="main-header">

    <!-- ===============================NAVIGATION=========================================== -->
    <nav class="site-nav">


        <!-- ===============================LOGO============================ -->
        <a class=" logo-top" href="/src/index.html">
            <svg class="logo-svg" width="109px" height="28px">
                <use href="/src/images/sprite-header.svg#icon-logo"></use>
            </svg>

        </a>
        <!-- ===============================/LOGO============================ -->
        <!-- ===============================NAV LINKS==================== -->
        <div class="nav-container">
            <ul class="nav-list">
                <li class="nav-item home-item"><a class="link-home current" href="/src/index.html">HOME</a></li>
                <li class="nav-item shoping-item"><a class="link-shoping  " href="#">
                        SHOPPING LIST
                        <svg class="icon-item" width="20px" height="20px">
                            <use href="/src/images/sprite-header.svg#icon-soppingCart"></use>
                        </svg>

                    </a></li>
            </ul>
        </div>
        <!-- ===============================SWITCHER============================ -->

        <!-- ===============================/SWITCHER============================ -->
        <!-- =========================BURGER======================================= -->
        <button type="button" class="burger">
            <svg width="28px" height="28px">
                <use href="/src/images/sprite-header.svg#icon-burger">
            </svg>
        </button>

        <div class="mobile-menu" data-menu>
            <button type="button" class="mobile-menu-close-btn" data-menu-close>
                <svg width="8" height="8" class="mobile-menu-close-icon">
                    <use href="./images/icons/sprite.svg#icon-x-close-black"></use>
                </svg></button>

            <ul class="list mobile-menu-list">
                <li class="menu-item">
                    <a class="link mobile-menu-link current" href="./index.html">Studio</a>
                </li>
                <li class="menu-item">
                    <a class="link mobile-menu-link" href="./portfolio.html">Portfolio</a>
                </li>
                <li class="menu-item">
                    <a class="link mobile-menu-link" href="">Contacts</a>
                </li>
            </ul>

            <ul class="list mobile-contact-list">
                <li class="mobile-contact-item">
                    <a class="link contact modal-mailto" href="mailto:info@devstudio.com">
                        info@devstudio.com
                    </a>
                </li>
                <li class="mobile-contact-item">
                    <a class="link contact modal-telephone" href="tel:+110001111111">
                        +11 (000) 111-11-11
                    </a>
                </li>
            </ul>

            <ul class="social-list list modal-social-list">
                <li class="modal-social-item"><a href="#" class="modal-social-list-link">
                        <svg width="24" height="24">
                            <use href="./images/icons/sprite.svg#icon-instagram"></use>
                        </svg> </a> </li>
                <li class="modal-social-item"><a href="#" class="modal-social-list-link">
                        <svg width="24" height="24">
                            <use href="./images/icons/sprite.svg#icon-twitter"></use>
                        </svg> </a> </li>
                <li class="modal-social-item"><a href="#" class="modal-social-list-link">
                        <svg width="24" height="24">
                            <use href="./images/icons/sprite.svg#icon-facebook"></use>
                        </svg> </a> </li>
                <li class="modal-social-item"><a href="#" class="modal-social-list-link">
                        <svg width="24" height="24">
                            <use href="./images/icons/sprite.svg#icon-linkedin"></use>
                        </svg> </a> </li>
            </ul>

        </div>



        <!-- ===============================SIGN UP============================ -->
        <button type="button" class="sign-up">Sign up <svg class="icon-arrow" width="20px" height="20px">
                <use href="/src/images/sprite-header.svg#icon-arrow"></use>
            </svg></button>
        <!-- ===============================/ SIGN UP============================ -->
    </nav>
    <!-- ===============================NAVIGATION=========================================== -->


</header>