<header class="main-header">
    <!-- ===============================NAVIGATION=========================================== -->
    <div class="container container-border">
        <nav class="site-nav">
            <!-- ===============================LOGO============================ -->
            <a class=" logo-top" href="/src/index.html">
                <svg class="logo-svg" width="109px" height="28px">
                    <use href="/src/images/sprite-header.svg#icon-logo"></use>
                </svg>
            </a>
            <!-- ===============================/LOGO============================ -->
            <!-- ===============================NAV LINKS==================== -->
            <!-- <div class="nav-container"> -->
            <ul class="nav-list">
                <li class="nav-item home-item"><a class="link-home current" href="/src/index.html">HOME</a></li>
                <li class="nav-item shoping-item"><a class="link-shoping" href="/src/shopping-list.html">
                        SHOPPING LIST
                        <svg class="icon-item" width="20px" height="20px">
                            <use href="/src/images/sprite-header.svg#icon-soppingCart"></use>
                        </svg>
                    </a></li>
            </ul>
            <!-- </div> -->
            <!-- ===============================SWITCHER============================ -->
            <div class="toggle-switch">

                <span>
                    <label class="switch">
                        <input id="theme-switch" type="checkbox" />
                        <span class="slider round"></span>
                    </label>
                </span>

            </div>
            <!-- ===============================/SWITCHER============================ -->
            <!-- =========================BURGER======================================= -->
            <button type="button" class="burger " data-menu-open>
                <svg width="28px" height="28px">
                    <use href="/src/images/sprite-header.svg#icon-burger">
                </svg>
            </button>

            <button type="button" class="mobile-menu-close-btn hidden" data-menu-close>
                <svg width="28" height="28" class="mobile-menu-close-icon">
                    <use href="/src/images/sprite-header.svg#mobile-menu-close-icon"></use>
                </svg></button>
            <!-- ===============================SIGN UP============================ -->
            <button type="button" class="sign-up">Log in<svg class="icon-arrow" width="20px" height="20px">
                    <use href="/src/images/sprite-header.svg#icon-arrow"></use>
                </svg></button>
            <!-- ===============================/ SIGN UP============================ -->
        </nav>
    </div>
    <!-- ===============================/NAVIGATION=========================================== -->
    <!-- ============================MOBILE MENU=============================== -->
    <div class="mobile-menu-backdrop" data-menu>

        <div class="mobile-menu ">
            <div class="mobile-menu-bg-img"></div>
            <div class="mobile-menu-wrapper ">
                <button type="button" class="mobile-sign-up">Log in <svg class="icon-arrow" width="20px" height="20px">
                        <use href="/src/images/sprite-header.svg#icon-arrow"></use>
                    </svg></button>
                <ul class="mobile-menu-list">
                    <li class="nav-item home-item"><a class="mobile-menu-link mobile-link-home"
                            href="/src/index.html">HOME</a>
                    </li>
                    <li class="nav-item shoping-item"><a class="mobile-menu-link mobile-link-shoping"
                            href="/src/shopping-list.html">
                            SHOPPING LIST
                            <svg class="mobile-icon-item" width="20px" height="20px">
                                <use href="/src/images/sprite-header.svg#icon-soppingCart"></use>
                            </svg>
                        </a></li>
                </ul>
                <button type="button" class="mobile-log-out">Log out <svg class="icon-arrow" width="20px" height="20px">
                        <use href="/src/images/sprite-header.svg#icon-arrow"></use>
                    </svg></button>
            </div>
        </div>
    </div>

    <!-- ============================/MOBILE MENU=============================== -->
    <!-- <div class="sign-in-wrapper">
        <button type="button" class="header-sign-in"><svg class="icon-user" width="20px" height="20px">
                <use href="/src/images/sprite-header.svg#icon-user"></use>
            </svg>--name--</button>
        <button type="button" class="header-log-out"> Log out <svg class="icon-arrow" width="20px" height="20px">
                <use href="/src/images/sprite-header.svg#icon-arrow"></use>
            </svg></button>
    </div> -->

</header>