<div class="backdrop is-hidden">
  <div class="modal is-hidden">
    <button type="button" class="modal-close" data-modal-close-btn>
      <svg class="modal-close-icon" width="14" height="14">
        <use href="./images/close.svg#close"></use>
      </svg>
    </button>
    <div class="modal-book-info">
      <div class="modal-img"></div>
      <div>
        <div class="modal-text"></div>
        <ul class="list modal-shop-list">
          <li>
            <a href="#" class="modal-shop-link" target="blank">
              <img
                class="logo-img"
                src="./images/modal-images/amazon.png"
                alt="logo"
              />
            </a>
          </li>
          <li>
            <a href="#" class="modal-shop-link" target="blank">
              <img
                class="logo-img"
                src="./images/modal-images/appleBook.png"
                alt="logo"
              />
            </a>
          </li>
          <li>
            <a href="#" class="modal-shop-link" target="blank">
              <img
                class="logo-img"
                src="./images/modal-images/bookShop.png"
                alt="logo"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <button type="button" class="modal-shopping-btn">
      ADD TO SHOPPING LIST
    </button>
    <div class="congratulations-text"></div>
  </div>
</div>
