<div class="backdrop is-hidden" data-backdrop>
  <div class="modal is-hidden" data-modal-close>
    <button type="button" class="modal-close" data-modal-close-btn>
      <svg class="modal-close-icon" width="14" height="14">
        <use href="./images/close.svg#close"></use>
      </svg>
    </button>
    <div class="modal-book-info">
        <div class="modal-img"></div>
        <div class="modal-text"></div>
        <ul class="list modal-shop-list">
            <li>
                <a href="#" class="modal-shop-link" target="blank"></a>
                <img href="../images/modal-images/amazon.png" alt="logo">
            </li>
            <li>
                <a href="#" class="modal-shop-link" target="blank"></a>
                <img href="../images/modal-images/appleBook.png" alt="logo">
            </li>
            <li>
                <a href="#" class="modal-shop-link" target="blank"></a>
                <img href="../images/modal-images/bookShop.png" alt="logo">
            </li>
        </ul>
    </div>
    <button type="button" class="modal-shopping-btn">ADD TO SHOPPING LIST</button>
    <div class="congratulations-text"></div>
  </div>
</div>
<button class="html" data-modal-open-btn>html</button>
