<section class="shopping">
  <div class="container">
    <div class="wrapper">
      <div class="support-shoping-list-hidden">
        <div class="support-container">
          <h3 class="support-title">
            Support Ukraine
            <svg class="emblem-ukraine" width="20" height="32">
              <use
                href="/src/images/support/support-svg-group.svg#tryzub"
              ></use>
            </svg>
          </h3>
          <ul class="support-list" id="support-list-id">
             <!-- render here -->
    <ul class="shopping-list">
      <!-- render here -->
      
    </ul>
        <!-- render here -->
      
      </div>
    </div>

  </div>
  <div id="pagination" class="tui-pagination"></div>
</section>
