<section class="shopping">
  <div class="container">
    <h2 class="shopping-title">Shopping <span class="blue">List</span></h2>

    <!-- render here -->
    <ul class="shopping-list">
      <!-- render here -->
      <li class="skeleton-book-list">
        <div class="skeleton-image"></div>
        <div class="right-part">
          <div class="header-skelet">
            <div class="left-part-skelet">
              <div class="title-skelet-form"></div>
              <div class="type-book-skelet"></div>
            </div>
            <span class="bucket-skeleton"></span>
          </div>
          <div class="text-book-skelet"></div>
          <div class="bottom-part-list">
            <div class="author-skelet"></div>
            <div class="links-shop-skelet"></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div id="pagination" class="tui-pagination"></div>
</section>
