<section class="shopping">
  <div class="container">
    <div class="wrapper">
      <div class="support-shoping-list-hidden">
        <div class="support-container">
          <h3 class="support-title">
            Support Ukraine
            <svg class="emblem-ukraine" width="20" height="32">
              <use
                href="/src/images/support/support-svg-group.svg#tryzub"
              ></use>
            </svg>
          </h3>
          <ul class="support-list" id="support-list-id">
            <li class="support-list-item">
              <a
                class="support-site"
                href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
                >01
                <svg class="support-svg">
                  <use
                    href="/src/images/support/support-svg-group.svg#icon-image1"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="support-list-item">
              <a
                class="support-site"
                href="https://www.projecthope.org/crisis-in-ukraine-how-to-help/04/2022/"
                >02
                <svg class="support-svg">
                  <use
                    href="/src/images/support/support-svg-group.svg#icon-image2"
                  ></use></svg
              ></a>
            </li>
            <li class="support-list-item">
              <a class="support-site" href="https://u24.gov.ua/uk"
                >03
                <svg class="support-svg">
                  <use
                    href="/src/images/support/support-svg-group.svg#icon-image3"
                  ></use></svg
              ></a>
            </li>
            <li class="support-list-item">
              <a
                class="support-site"
                href="https://internationalmedicalcorps.org/country/ukraine/"
                >04
                <svg class="support-svg">
                  <use
                    href="/src/images/support/support-svg-group.svg#icon-image4"
                  ></use></svg
              ></a>
            </li>
            <li class="support-list-item">
              <a
                class="support-site"
                href="https://storymaps.arcgis.com/stories/2d34f630e50748c5b8e0ce07f640b7d7"
                >05
                <svg class="support-svg">
                  <use
                    href="/src/images/support/support-svg-group.svg#icon-image5"
                  ></use></svg
              ></a>
            </li>
            <li class="support-list-item">
              <a
                class="support-site"
                href="https://www.razomforukraine.org/ua/homeua/"
                >06
                <svg class="support-svg">
                  <use
                    href="/src/images/support/support-svg-group.svg#icon-image6"
                  ></use></svg
              ></a>
            </li>
            <li class="support-list-item">
              <a
                class="support-site"
                href="https://www.actionagainsthunger.org/story/lives-upended-by-ukraine-conflict-refugees-and-residents-in-moldova-share-their-stories/"
                >07
                <svg class="support-svg">
                  <use
                    href="/src/images/support/support-svg-group.svg#icon-image7"
                  ></use></svg
              ></a>
            </li>
            <li class="support-list-item">
              <a
                class="support-site"
                href="https://www.wvi.org/stories/ukraine/humanitarian-couples-partnership-and-courage-shine-brightly-through-ukraines"
                >08
                <svg class="support-svg">
                  <use
                    href="/src/images/support/support-svg-group.svg#icon-image8"
                  ></use></svg
              ></a>
            </li>
            <li class="support-list-item">
              <a class="support-site" href="https://prytulafoundation.org/"
                >09
                <svg class="support-svg">
                  <use
                    href="/src/images/support/support-svg-group.svg#icon-image9"
                  ></use></svg
              ></a>
            </li>
          </ul>
          <button type="button" class="support-slider-btn" id="support-slider">
            <img
              src="./images/support/slider.png"
              alt="slider"
              class="support-slider"
            />
          </button>
          <button
            type="button"
            class="support-slider-btn-up"
            id="support-slider-up"
          >
            <img
              src="./images/support/slider-reverse.png"
              alt="slider"
              class="support-slider-up"
            />
          </button>
        </div>
      </div>
      <div>
        <h2 class="shopping-title">Shopping <span class="blue">List</span></h2>

        <!-- render here -->
        <ul class="shopping-list">
          <!-- render here -->
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="book-list"></div>
  <div id="pagination"></div> -->
</section>
